.idea
test.js
picture.txt
node_modules
test.html

# I commited dist so it doens't require anyone to have Angular CLI to run the project
#/public/dist

# Ignore CodeMirror
/public/src/assets/codemirror/*

# Except the needed files
!/public/src/assets/codemirror/lib
!/public/src/assets/codemirror/mode
!/public/src/assets/codemirror/theme