

.map-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 300px;
  
  .line {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .cell {
    //width: 100%;
    padding: 0 0 100% 0;
    //max-width: 30px;
    max-height: 30px;
  }
  
  .wall {
    background-color: black;
  }
  .road {
    background-color: white;
  }
  .path {
    background-color: #59ff3f;
  }
  .start {
    background-color: blue;
  }
  .end {
    background-color: red;
  }
  .test {
    background-color: green;
  }
  .dead{
    background-color: saddlebrown;
  }
}


.button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  font-size: 20px;
  
  .input-group {
    height: 100%;
    max-width: 230px;
    font-size: 22px;
  }
  
  .btn {
    font-size: 20px;
  }
}

