
<div id="maze" class="map-display" >
  
  <div class="line"
    *ngFor="let line of displayMap">
    
    <div style="height: 100%; width: 100%"
      *ngFor="let plot of line">
      
      <div class="cell {{plot}}"></div>
      
    </div>
  
  </div>

</div>

<div class="button-container">
  <div class="input-group">
    <span class="input-group-addon">Step Speed</span>
    <input [(ngModel)]="speed" class="form-control" (submit)="reRun()">
    <span class="input-group-addon">ms</span>
  </div>
  <span><h4>Server solved in: {{_maze.time}} with {{instructions.length}} steps</h4></span>
  <button class="btn btn-primary" (click)="reRun()">ReRun Solution</button>
</div>
