<div class="container">
  <h1>Maze Solver</h1>
  <p>
    information about this page is available on <a href="https://github.com/JoshuaBaert/MazeSolver" target="_blank">GitHub</a>.
    You can also find more mazes to try <a href="https://github.com/JoshuaBaert/MazeSolver/tree/master/mazes" target="_blank">here</a>.
  </p>
  
  <ul class="tabs">
    
    <li [class]="tabs.editor ? 'selected' : ''"
      (click)="switchTabs('editor')"
    >Editor
    </li>
    
    <li [class]="tabs.map ? 'selected' : ''"
      (click)="switchTabs('map')">
      Map
    </li>
  
  </ul>
  
  
  <div [class]="text-editor" [class]="!tabs.editor ? 'hidden': ''">
    <codemirror [(ngModel)]="map"
      [config]="{
    	lineNumbers: true,
    	theme: 'seti',
    	value: 'test of value',
    	lineSeparator: '\n'
    	}">
    </codemirror>
    
    
    <div class="button-container">
      
      
      <div class="upload-container">
        <div class="input-group input-group-lg input">
          
          <input type="file" name="maze" id="maze" accept=".txt" class="form-control">
          
          <span class="input-group-btn">
            <button type="button"
              (click)="upload()"
              class="run-button btn btn-secondary">
              Upload File
            </button>
          </span>
        
        </div>
      </div>
      
      
      <button
        (click)="onRun()"
        class="run-button btn btn-primary"
      >Run
      </button>
    </div>
  </div>
  
  
  <app-maze
    [run]="runMaze"
    [class]="!tabs.map ? 'hidden': ''"
    [maze]="maze">
  
  </app-maze>


</div>
