/* You can add global styles to this file, and also import other style files */

.CodeMirror {
  border: 1px solid #808080;
  height: auto;
  font-size: 18px;
  
  .CodeMirror-lines{
    min-height: 300px;
  }
}

.map-display {
  width: 100%;
  min-height: 300px;
  background-color: #2F2F2F;
}


.hidden {
  display: none;
}
